.nbs-cube-scene-5 {
  height: 5vw;
  width: 5vw;
  -webkit-perspective: 15vw;
          perspective: 15vw;
  text-align: left;
}

.nbs-cube-scene-5 .nbs-cube {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci:nth-child(1) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(0deg) translateZ(2.5vw);
          transform: rotateY(0deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci:nth-child(2) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(90deg) translateZ(2.5vw);
          transform: rotateY(90deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci:nth-child(3) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(-90deg) translateZ(2.5vw);
          transform: rotateY(-90deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci:nth-child(4) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(180deg) translateZ(2.5vw);
          transform: rotateY(180deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci:nth-child(5) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(2.5vw);
          transform: rotateX(90deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci:nth-child(6) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(-2.5vw);
          transform: rotateX(90deg) translateZ(-2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci-front {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(0deg) translateZ(2.5vw);
          transform: rotateY(0deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci-right {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(90deg) translateZ(2.5vw);
          transform: rotateY(90deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci-left {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(-90deg) translateZ(2.5vw);
          transform: rotateY(-90deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci-back {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(180deg) translateZ(2.5vw);
          transform: rotateY(180deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci-top {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(2.5vw);
          transform: rotateX(90deg) translateZ(2.5vw);
}

.nbs-cube-scene-5 .nbs-cube .nbs-ci-bottom {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(-2.5vw);
          transform: rotateX(90deg) translateZ(-2.5vw);
}

.nbs-cube-scene-10 {
  height: 10vw;
  width: 10vw;
  -webkit-perspective: 30vw;
          perspective: 30vw;
  text-align: left;
}

.nbs-cube-scene-10 .nbs-cube {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci:nth-child(1) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(0deg) translateZ(5vw);
          transform: rotateY(0deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci:nth-child(2) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(90deg) translateZ(5vw);
          transform: rotateY(90deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci:nth-child(3) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(-90deg) translateZ(5vw);
          transform: rotateY(-90deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci:nth-child(4) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(180deg) translateZ(5vw);
          transform: rotateY(180deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci:nth-child(5) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(5vw);
          transform: rotateX(90deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci:nth-child(6) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(-5vw);
          transform: rotateX(90deg) translateZ(-5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci-front {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(0deg) translateZ(5vw);
          transform: rotateY(0deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci-right {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(90deg) translateZ(5vw);
          transform: rotateY(90deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci-left {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(-90deg) translateZ(5vw);
          transform: rotateY(-90deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci-back {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(180deg) translateZ(5vw);
          transform: rotateY(180deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci-top {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(5vw);
          transform: rotateX(90deg) translateZ(5vw);
}

.nbs-cube-scene-10 .nbs-cube .nbs-ci-bottom {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(-5vw);
          transform: rotateX(90deg) translateZ(-5vw);
}

.nbs-cube-scene-25 {
  height: 25vw;
  width: 25vw;
  -webkit-perspective: 75vw;
          perspective: 75vw;
  text-align: left;
}

.nbs-cube-scene-25 .nbs-cube {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci:nth-child(1) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(0deg) translateZ(12.5vw);
          transform: rotateY(0deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci:nth-child(2) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(90deg) translateZ(12.5vw);
          transform: rotateY(90deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci:nth-child(3) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(-90deg) translateZ(12.5vw);
          transform: rotateY(-90deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci:nth-child(4) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(180deg) translateZ(12.5vw);
          transform: rotateY(180deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci:nth-child(5) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(12.5vw);
          transform: rotateX(90deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci:nth-child(6) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(-12.5vw);
          transform: rotateX(90deg) translateZ(-12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci-front {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(0deg) translateZ(12.5vw);
          transform: rotateY(0deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci-right {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(90deg) translateZ(12.5vw);
          transform: rotateY(90deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci-left {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(-90deg) translateZ(12.5vw);
          transform: rotateY(-90deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci-back {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(180deg) translateZ(12.5vw);
          transform: rotateY(180deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci-top {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(12.5vw);
          transform: rotateX(90deg) translateZ(12.5vw);
}

.nbs-cube-scene-25 .nbs-cube .nbs-ci-bottom {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(-12.5vw);
          transform: rotateX(90deg) translateZ(-12.5vw);
}

.nbs-cube-scene-50 {
  height: 50vw;
  width: 50vw;
  -webkit-perspective: 150vw;
          perspective: 150vw;
  text-align: left;
}

.nbs-cube-scene-50 .nbs-cube {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci:nth-child(1) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(0deg) translateZ(25vw);
          transform: rotateY(0deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci:nth-child(2) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(90deg) translateZ(25vw);
          transform: rotateY(90deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci:nth-child(3) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(-90deg) translateZ(25vw);
          transform: rotateY(-90deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci:nth-child(4) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(180deg) translateZ(25vw);
          transform: rotateY(180deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci:nth-child(5) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(25vw);
          transform: rotateX(90deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci:nth-child(6) {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(-25vw);
          transform: rotateX(90deg) translateZ(-25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci-front {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(0deg) translateZ(25vw);
          transform: rotateY(0deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci-right {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(90deg) translateZ(25vw);
          transform: rotateY(90deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci-left {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(-90deg) translateZ(25vw);
          transform: rotateY(-90deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci-back {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateY(180deg) translateZ(25vw);
          transform: rotateY(180deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci-top {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(25vw);
          transform: rotateX(90deg) translateZ(25vw);
}

.nbs-cube-scene-50 .nbs-cube .nbs-ci-bottom {
  position: absolute;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: rotateX(90deg) translateZ(-25vw);
          transform: rotateX(90deg) translateZ(-25vw);
}

.nbs-cube.nbs-ease-in {
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}

.nbs-cube.nbs-ease-out {
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

.nbs-cube.nbs-ease-in-out {
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.nbs-cube.nbs-linear {
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.nbs-cube.nbs-step-start {
  animation-timing-function: step-start;
  -webkit-animation-timing-function: step-start;
}

.nbs-cube.nbs-step-end {
  animation-timing-function: step-end;
  -webkit-animation-timing-function: step-end;
}

.nbs-cube.nbs-duration-5 {
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
}

.nbs-cube.nbs-duration-10 {
  animation-duration: 10s;
  -webkit-animation-duration: 10s;
}

.nbs-cube.nbs-duration-15 {
  animation-duration: 15s;
  -webkit-animation-duration: 15s;
}

.nbs-cube.nbs-duration-20 {
  animation-duration: 20s;
  -webkit-animation-duration: 20s;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateY(270deg);
            transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateY(270deg);
            transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.nbs-bg-white {
  background-color: white;
}

.nbs-a-10 {
  opacity: .1;
}

.nbs-a-25 {
  opacity: .25;
}

.nbs-a-50 {
  opacity: .5;
}

.nbs-a-75 {
  opacity: .75;
}

.nbs-a-90 {
  opacity: .9;
}
/*# sourceMappingURL=nanoCube.css.map */